<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ("./partials/head") %> 
</head>
<body>
    <section>
    <% sales.forEach(products => { %>
        <% include("./partials/item",{products}) %> 
    <% }) %>
    </section>
</body>
</html>